# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Environment files that may contain sensitive data
.powenv
dump.rdb
.byebug_history


.sass-cache
/db/*.sqlite3

.env
config/database.yml
config/secrets.yml




/project_info_data
/downloaded_data